<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header('任务数表')"></head>
<body>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-11">
        <div class="ibox">
            <div class="ibox-body">
                <form class="form-inline">
                    <div class="form-group pull-right">
                        <button class="btn btn-success" onclick="Count()">统计</button>
                    </div>
                    <div class="columns pull-right">
                        <label class="label" style="margin-left: 15px">时间范围：</label>
                        <input id="beginTime" type="date" class="form-control"
                               placeholder="开始时间">
                        <span>-</span>
                        <input id="endTime" type="date" class="form-control"
                               placeholder="结束时间">
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>
                    <div class="form-group pull-right">
                        <label class="label" style="margin-left: 15px">设备编号：</label>
                        <input id="devId" type="text" class="form-control"
                               placeholder="设备编号">
                    </div>
                </form>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/yxjr/js/appjs/Task/task.js"></script>
</body>
</html>