<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header('提取设备日志')"></head>
<body>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-11">
        <div class="ibox">
            <div class="ibox-body">
                <from class="form-inline">
                    <div class="form-group pull-left">
                        <label class="label">提取时间</label>
                        <input id="datetime" type="date" class="form-control">
                    </div>

                    <button  type="button"
                             class="btn  btn-success" onclick="upload()">
                        <i class="fa fa-trash hidden" aria-hidden="true"></i>提取日志
                    </button>
                    <button class="btn pull-right btn-success" onclick="reLoad()">查询</button>
                    <div class="form-group pull-right">
                        <label class="label">网点编号</label>
                        <input id="branchId" type="text" class="form-control"
                               placeholder="网点编号">
                    </div>
                    <div class="form-group pull-right  ">
                        <label class="label">设备编号</label>
                        <input id="devId" type="text" class="form-control"
                               placeholder="设备编号">
                    </div>
                </from>
                <table id="deviceTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/yxjr/js/appjs/Log/add.js"></script>
</body>
</html>